@import './home';

.btn_location  {
    width: 80%;
    height: 72px;
    margin-top: 20%;
}

.btn_location:hover > div:first-child {
  background-color: #D5966C;
}

.btn_location:hover>div:nth-child(2){
    background-color: #151515;
}

.btn_location > div:first-child {
    flex-basis: 78%;
    transition: all .2s ease;
}

.btn_location>div:first-child  > p{
   letter-spacing: 0.25rem;
}

.btn_location>div:nth-child(2) {
    flex-basis: 22%;
    cursor: pointer;
    transition: all .2s ease;
}

