.cuadrado-negro-inspirar {
    height: 53%;
    width: 100%;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadrado-negro-inspirar > div {
    width: 80%;
}

.contenedor-parrafo-derecho-primera-seccion-home {
    width: 27%;
    margin-bottom: 17%;
}

#icon-twitter , #icon-facebook , #icon-instagram {
    cursor: pointer;
    transition: all .2s ease;
}

#icon-twitter:hover , #icon-facebook:hover , #icon-instagram:hover {
    background-color: #D5966C;
}



